.main {
  margin: 4rem auto;
  text-align: center;
}
.forminput {
  width: 20%;
}
.formsubmit {
  margin-left: 1rem;
}
.enrty {
  display: flex;
  flex-direction: column;
}
.pack,
.unpack {
  padding: 0.75rem;
  margin-right: 1rem;
  display: inline;
}
.checkbox {
  margin-right: 1rem;
  color: chocolate;
}
.list-enter {
  opacity: 0;
}
.list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.list-exit {
  opacity: 1;
}
.list-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
