.main {
  margin: 4rem auto;
  text-align: center;
}
.forminput {
  width: 20%;
}
.formsubmit {
  margin-left: 1rem;
}
.enrty {
  display: flex;
  flex-direction: column;
}
.pack,
.unpack {
  padding: 0.75rem;
  margin-right: 1rem;
  display: inline;
}
.checkbox {
  margin-right: 1rem;
  color: chocolate;
}
